:root {
    --background-color: #333646;
    --yellow-color: #f1bd35;
    --white-color: #EBEBEC;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.box {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    max-width: 800px;
}

h2 {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

h2::after {
    content: "";
    background-color: var(--yellow-color);
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: 0;
}

p {
    margin-bottom: 44px;
}

p:last-child {
    margin-bottom: 0;
}


@media (max-width: 900px) {
    .main-box {
        margin: 30px 5%;
    ;
    } 
}