:root {
    --background-color: #333646;
    --yellow-color: #f1bd35;
    --white-color: #EBEBEC;
}

body::after {
    content: "";
    background-color: black;
    opacity: 15%;
    width: 600px;
    height: 600px;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

section.content {
    display: flex;
    margin-left: 80px;
    /* background-color: royalblue; */
}

.intro {
    /* background-color: tomato; */
    margin: auto 5% auto auto;

}

span {
    color: var(--yellow-color);
}

.image {
    margin: auto 10% auto auto;
    /* background: turquoise; */
    width: 380px;
}

.image img {
    border-radius: 100%;
    width: 100%;
}

h1 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 30px;
}

p {
    max-width: 600px;
}

/* == background animation == */

body::after {
    background-color: rgba(0, 0, 0, 0);
    animation-name: bg;
    animation-duration: 700ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

@keyframes bg {
    from {
        transform: translateY(-100px);
    }

    to {
    background-color: rgba(0, 0, 0, 1);
        
    }
}


/* === responsivity === */



@media (max-width: 1000px) {
    section.content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .image {
        margin: 0 0 20px 0;
        width: 300px;
    }

    .intro {
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 670px) {
    body::after {
        display: none;
    }

    .image {
        width: 240px;
        align-self: center;
    }

    .intro {
        margin: auto 5%;
    }


}

@media (max-width: 370px) {
    h1 {
        font-size: 54px;
        width: 100%;
        
    }
    
    h3 {
        font-size: 22px;
    }
    
    p {
        font-size: 16px;
    }
}
